/* base */

:root {
  --space-grotesk: "Space Grotesk", sans-serif;
  --font-l: "88px";
  --font-m: "48px";
  --font-s: "24px";
  --accent-color: "#4EE1A0";
  --line-separator: "#979797";
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  position: relative;
  margin: 0;
  background-color: black;
  color: white;
  font-family: var(--space-grotesk);
}

h1 {
  font-size: 8.8rem;
  font-weight: bold;
}

.h2 {
  font-size: 4.8rem;
}

.h3 {
  font-size: 2.4rem;
}

.f1 {
  font-size: 8.8rem;
  font-weight: bold;
}

.f2 {
  font-size: 4.8rem;
}

.f3 {
  font-size: 2.4rem;
}

/* common */

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.end {
  justify-content: end;
}

.absolute {
  position: absolute;
}

.decoration-spiral {
  position: absolute;
}

.decoration-spiral-right {
  position: absolute;
  right: 0;
}

a {
  text-decoration: none;
  color: white;
}

/* layout */

.wrapper {
  max-width: 1275px;
  margin: auto;
}

@media (max-width: 1550px) {
  .wrapper {
    max-width: 900px;
  }
}

@media (max-width: 1150px) {
  .wrapper {
    max-width: 800px;
  }
}

@media (max-width: 900px) {
  .wrapper {
    max-width: 708px;
  }
}

@media (max-width: 900px) {
  .wrapper {
    max-width: 708px;
  }
}

@media (max-width: 768px) {
  .wrapper {
  max-width: 600px;
  }
  .promo-p {
    max-width: 90%!important;
  }
  .card-img {
    opacity: 0.3;
  }
  .card-info {
    display: flex!important;
  }
}


.list {
  list-style: none;
}

/* header */

.header-links {
  width: 100%;
  justify-content: space-around;
  margin: 0;
  align-items: end;
  z-index: 1;
}

.list-wrapper {
  width: 20%;
  justify-content: right;
}

.wrapper-header {
  justify-content: left;
  padding-top: 40px;
  padding-bottom: 130px;
  position: relative;
}

.title {
  font-size: 32px;
  font-weight: bold;
  z-index: 1;
}

.github-icon {
  padding-right: 10px;
}

/* photo */

.photo {
  width: 445px;
  height: 720px;
  background-color: #7fffd480;
  position: absolute;
  top: 0;
  right: 0;
  background-image: URL("./assets/IMG_2111.jpg");
  background-size: cover;
}

/* promo */

.promo {
  padding-bottom: 220px;
}

.promo > img {
  position: absolute;
  top: 7%;
}

.promo-wrapper {
  position: relative;
}

.promo-p {
  max-width: 50%;
  position: absolute;
  z-index: 1;
  margin: 0;
}

.promo-img {
  width: 100%;
}

.promo-title {
  z-index: 1;
  position: relative;
}

.name {
  border-bottom: 4px #4EE1A0 solid;
}

.link-to-contact {
  padding-top: 100px;
}

@media(max-width: 400px) {
  .link-to-contact {
    padding-top: 200px;
  }
}

.link-to-contact > a {
  text-decoration: none;
  color: white;
  border-bottom: #4EE1A0 1px solid;
  text-transform: uppercase;
}

/* .decoration-circle {
  width: 129px;
  height: 129px;
  border-radius: 50%;
  border: 1px solid #D8D8D8;
  position: absolute;
  bottom: 10%;
  left: -10%;
} */

/* skills */

.wrapper-skills {
  border-top: 1px solid #979797;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.highlight {
  color:aqua;
}

@media (max-width: 768px) {
  .skills-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* projects */
.projects {
  padding-top: 140px;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0;
}

@media (max-width: 768px) {
  .projects-list {
    grid-template-columns: 1fr;
  }
  .photo {
    width: 375px;
    height: 640px;
  }
}

.card {
  display: flex;
  justify-content: center;
  height: 350px;
  position: relative;
}

@media (max-width: 1550px) {
  .card {
    height: 250px;
  }
}


@media (max-width: 1050px) {
  .card {
    height: 200px;
  }
}

.card:hover .card-img {
  opacity: 0.3;
  cursor: pointer;
}

.card:hover .card-info {
  display: flex;
}

.card-info {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.card-info > p {
  border-bottom: #4EE1A0 1px solid;
  text-transform: uppercase;
}

.card-link {
  text-transform: uppercase;
}

.card-link:hover {
  color: #4EE1A0;
}

.projects-list-link {
  padding-bottom: 70px;
}

.link-title {
  text-align: center;
  padding-top: 20px;
}

.projects-title {
  padding-bottom: 80px;
}

.link-description {
  color: #979797;
}

.link-tech-stack {
  text-align: center;
}

/* contact */

.contacts {
  background-color: #242424;
}

.contact-link {
  text-decoration: none;
  color: white;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

@media (max-width: 768px) {
  .contacts-list {
    grid-template-columns: 1fr;
  }
}

.contact-content {
  color: #4EE1A0;
}

.contact-content > a {
  color: var(--accent-color);
}

.contact-content > a:hover {
  text-decoration: underline;
}

.contact-icon {
  padding-right: 30px;
  font-size: 20px;
}

.contact-title {
  padding-right: 30px;
}

.icon-title {
  display: flex;
  align-items: center;
}

/* footer */

.footer {
  background-color: #242424;
}

.footer-wrapper {
  border-top: 1px solid #979797;
}

.contacts-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 47px;
  padding-bottom: 92px;
  margin: 0;
}

.contacts-list {
  text-decoration: none;
}

.footer-link > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.footer-link > *:hover {
  text-decoration: underline;
}