/* base */

:root {
  --space-grotesk: "Space Grotesk", sans-serif;
  --font-l: "88px";
  --font-m: "48px";
  --font-s: "24px";
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  position: relative;
  margin: 0;
  background-color: black;
  color: white;
  font-family: var(--space-grotesk);
}

h1 {
  font-size: 88px;
  font-weight: bold;
}

.h2 {
  font-size: 48px;
}

.h3 {
  font-size: 24px;
}

.f1 {
  font-size: 88px;
  font-weight: bold;
}

.f2 {
  font-size: 48px;
}

.f3 {
  font-size: 24px;
}

/* common */

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

/* layout */

.wrapper {
  max-width: 1275px;
  margin: auto;
}

.list {
  list-style: none;
}

/* header */

.header-links {
  width: 100%;
  justify-content: space-around;
  margin: 0;
  align-items: end;
  z-index: 1;
}

.list-wrapper {
  width: 20%;
  justify-content: right;
}

.wrapper-header {
  justify-content: left;
  padding-top: 40px;
  padding-bottom: 130px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  z-index: 1;
}

/* photo */

.photo {
  width: 445px;
  height: 720px;
  background-color: #7fffd480;
  position: absolute;
  top: 0;
  right: 165px;
  background-image: URL("./assets/IMG_2111.jpg");
  background-size: cover;
}

/* promo */

.promo {
  padding-bottom: 220px;
}

.promo-title {
  position: relative;
  z-index: 1;
}

.promo-p {
  max-width: 50%;
  position: absolute;
  z-index: 1;
  margin: 0;
}

.promo-img {
  width: 100%;
}

/* skills */

.wrapper-skills {
  border-top: 1px solid;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.highlight {
  color:aqua;
}

/* projects */
.projects {
  padding-top: 140px;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  display: flex;
  justify-content: center;
}

.card-img {
  width: 80%;
  /* border-radius: 25px; */
}

.projects-list-link {
  padding-bottom: 70px;
}

/* footer */

.contacts {
  display: flex;
  justify-content: space-around;
}

.contacts-list {
  text-decoration: none;
}

.contacts-link > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.contacts-link > *:hover {
  text-decoration: underline;
}